ENV=dev
MONGODB_USER=policebrutalityio
MONGODB_PASS=policebrutalityio!2020
MONGODB_HOST=mongodb
MONGODB_DATABASE=videos
MONGODB_PORT=27017

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin!2020
MONGO_INITDB_DATABASE=videos

SPACES_ACCESS_KEY_ID=
SPACES_SECRET_ACCESS_KEY=
SPACES_REGION_NAME=
SPACES_BUCKET_NAME=

#NGINX_HOST=localhost
UPSTREAMS=/:backend:5000
